<div id="curentVacancy">	
	<div class="vacancyWrap"  *ngIf="vacancyApply">
		<div class="viewVacancy">
		  <p class="salary bold">{{vacancy.salary}}</p>
		  <p class="jobTitle">{{vacancy.title}}</p>
		  <p class="bold">{{vacancy.functionTitle}}</p>
		  <p>{{vacancy.companyName}}</p>
		  <p class="bold"><i class="glyphicon glyphicon-map-marker"></i> {{vacancy.location}}</p>
		  <p>{{vacancy.education}} {{vacancy.contractType}}</p>
		  <p>{{vacancy.whatWeOffer}}</p>
		  <p>{{vacancy.id}}</p>
		</div>
		<div class="vacancyButtonSection">
			<button class="vacancyButton" routerLink="/vacatures">Vorige</button>
			<button class="vacancyButton vacancyButtonRight" (click)="onApply()">Reageer op een vacature</button>
		</div>
	</div>
	<div class="vacancyWrapApply"  *ngIf="!vacancyApply">
		<div class="viewVacancyApply">
		  <p class="salary bold">{{vacancy.salary}}</p>
		  <p class="jobTitle">{{vacancy.title}}</p>
		  <p class="bold">{{vacancy.functionTitle}}</p>
		  <p>{{vacancy.companyName}}</p>
		  <p class="bold"><i class="glyphicon glyphicon-map-marker"></i> {{vacancy.location}}</p>
		  <p>{{vacancy.education}} {{vacancy.contractType}}</p>
		  <p>{{vacancy.whatWeOffer}}</p>
		  <p>{{vacancy.id}}</p>
		</div>

		<form #uploadCvForm="ngForm">
			<div class="vacancyApplyForm">
				<div>
					<div class="row vacancyApplyFormRow">
						<label class="col-sm-2">Voornaam<span class="required">*</span></label>
						<input class="col-sm-3" type="text" name="name" [(ngModel)]="name" required>
						<label class="col-sm-3">Linked-in profile</label>
						<input class="col-sm-3" type="text" name="linkedIn" [(ngModel)]="lincedIn">
					</div>
					<div class="row vacancyApplyFormRow">
						<label class="col-sm-2">Tussenvoegsel</label>
						<input class="col-sm-3" type="text" name="insert" [(ngModel)]="insert">					
						<label class="col-sm-3">Facebook profile</label>
						<input class="col-sm-3" type="text" name="facebook" [(ngModel)]="facebook">					
					</div>
					<div class="row vacancyApplyFormRow">
						<label class="col-sm-2">Achternaam<span class="required">*</span>	</label>
						<input class="col-sm-3" type="text" name="secondName" [(ngModel)]="secondName" required>				
						<label class="col-sm-3">Twitter</label>
						<input class="col-sm-3" type="text" name="twitter" [(ngModel)]="twitter">					
					</div>
					<div class="row vacancyApplyFormRow">
						<label class="col-sm-2">Email<span class="required">*</span></label>
						<input class="col-sm-3" type="text" name="email" [(ngModel)]="email" required>				
						<label class="col-sm-3">Youtube Video Link</label>
						<input class="col-sm-3" type="text" name="youtube" [(ngModel)]="youtube">				
					</div>
					<div class="row vacancyApplyFormRow">
						<label class="col-sm-2">Onderwerp</label>
						<textarea rows="3" class="col-sm-9 vacancyApplyFormRowTextArea" [(ngModel)]="description" name="description"></textarea>				
					</div>
					<div class="row vacancyApplyFormRow">	
						<label class="col-sm-4">CV Uploaden<span class="required">*</span></label>				
						<input type="file" 
			                      name="cvFile" 
			                      class="input-file col-xs-4" 
			                      accept="application/msword,application/msword,application/pdf,text/plain,application/excel"
			                      (change)="onChangeCv($event)">			                      			
					</div>
					<div class="row vacancyApplyFormRow">	
						<label class="col-sm-4">Motivatie Uploaden</label>				
						<input type="file" 
		                      (change)="onChangeMotivation($event)" 
		                      name="letterFile" 
		                      class="input-file col-xs-7">			
							</div>
				</div>
			</div>
			<div class="vacancyButtonSection">
				<button class="vacancyButton" (click)="cansel()">Vorige</button>
				<button class="vacancyButton vacancyButtonRight" [disabled]="uploadCvForm.invalid || !cvData" (click)="onSend()">CV Versturen</button>
			</div>
		</form>
	</div>
</div>
