<div>
    <form enctype="multipart/form-data" action="/upload/" method="post" #uploadCvForm="ngForm" class="ng-pristine ng-untouched ng-valid" novalidate="">
        <div class="container-fluid custom-modal-container">        
            
            <div class="row">
               <label class="col-xs-offset-1 col-xs-3">Voornaam</label>        
               <input type="text" name="name" class="col-xs-7" ngModel required> <span class="required">*</span>
            </div>
            <div class="row">
               <label class="col-xs-offset-1 col-xs-3">Tussenvoegsel</label>   
               <input type="text" name="insert" class="col-xs-7" ngModel required> <span class="required">*</span>
            </div>
            <div class="row">
               <label class="col-xs-offset-1 col-xs-3">Achternaam</label>      
               <input type="text" name="secondName" class="col-xs-7" ngModel required><span class="required">*</span>
            </div>
            <div class="row">
               <label class="col-xs-offset-1 col-xs-3">Email</label>           
               <input type="email" name="Email" class="col-xs-7" ngModel>
            </div>
            <div class="row">    
               <label class="col-xs-offset-1 col-xs-3">Onderwerp</label>       
               <textarea rows="3" name="description" class="col-xs-7" ngModel required></textarea> <span class="required">*</span>
            </div>
            <div class="row">
               <label class="col-xs-offset-1 col-xs-3">CV Uploaden</label>           
               <input type="file" name="cvFile" class="input-file col-xs-7" ngModel>
            </div>
            <div class="row">
               <label class="col-xs-offset-1 col-xs-3">Motivatie Uploaden</label>           
               <input type="file" name="letterFile" class="input-file col-xs-7" ngModel>
            </div>
                   
        </div>
        
        <button class="btn upload-btn" (click)="closeModalWindow()">Vorige</button>
        <button class="btn upload-btn" 
                type="submit" 
                [disabled]="uploadCvForm.invalid">CV Versturen</button>
    </form>
</div>