<div id="employerSection">
	<div class="firstEmployerSection">
		<div>
			<button class="chooseItem">Algemene voorwaarden</button>
		</div>
		<div>
			<button class="chooseItem">Vacature toevoegen</button>
		</div>
	</div>
	<div class="secondEmployerSection">
		<p>Westland werving & selectie is gespecialiseerd in het werven en selecteren van (vast) personeel. Het werven en selecteren van nieuw personeel kan een tijdrovend proces zijn. Westland werving & selectie kan het gehele voortraject voor u uit handen nemen, maar ook een gedeelte van het traject. Van het schrijven van de vacature tot het selecteren van kandidaten door middel van persoonlijke interviews.</p>
		 
		<p>Daarnaast bieden wij ondersteuning aan bedrijven op het gebied van personele zaken als dossierbeheer, functioneringsgesprekken, personeelscommunicatie, arbeidsovereenkomsten en coaching.</p>
		 
		<p>Mocht u interesse hebben in onze diensten, dan kunt u contact met ons opnemen om geheel vrijblijvend de mogelijkheden te bespreken en te kijken wat het beste bij u past.</p>
		 
		<p class="bold">Werkwijze</p>
		<p>Het werven en selecteren van nieuw personeel: "een vak apart"! Een optimale communicatie naar de arbeidsmarkt is hierbij zeer belangrijk. Het moet duidelijk zijn 'wie' u zoekt. Opleidingsniveau, werkervaring, ambitie, drive, werkmentaliteit, maar ook de persoonlijkheid van de kandidaat moet passen binnen de functie en uw organisatie.</p>
		 
		<p>Het samenstellen van een zo goed mogelijk functie- en medewerkersprofiel is de basis voor een goede werving en selectie van kandidaten voor uw bedrijf. Om die reden gaan wij altijd een persoonlijk gesprek aan met onze opdrachtgever. Het liefst maken wij met u, maar ook met de 'cultuur' binnen uw organisatie kennis. Op basis hiervan maken wij een selectie uit honderden kandidaten en kunnen wij het gehele voortraject voor u uit handen nemen.
		De werving en selectie is pas gelukt, wanneer die ene kandidaat niet alleen uw vacature kan invullen, maar ook in uw organisatie past. Voor ons is het veel méér dan alleen een 'plaatsing'. Het gaat erom de juiste persoon bij de juiste organisatie te bemiddelen. Wij streven hierbij naar een lange termijn relatie om u ook in de toekomst zo goed mogelijk van dienst te kunnen zijn.</p>
		 
		<p>Wilt u ook ervaren wat wij, van Westland werving & selectie, voor uw organisatie kunnen betekenen? Neem dan contact op voor een vrijblijvend gesprek over de mogelijkheden!</p>


	</div>
</div>