.employerRoute {
	border-bottom: 1px solid #000;
}

.employerRouteItem {
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #cccccc;
}

.active {
	border-top: 1px solid #1794AC;
	color: #1794AC;
}



@media (max-width: 768px)  {

	.routerSection {
		margin: 0;
	}

	.employerRouteItem {
		font-size: 10px;	
		padding: 0;
		margin: 5px;
	}	
	.employerRoute {
		margin: 0 5px;
	}

}