.kandidateRoute {
	border-bottom: 1px solid #000;
}

.kandidateRouteItem {
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #cccccc;
}

.active {
	border-top: 1px solid #1794AC;
	color: #1794AC;
}

@media (max-width: 768px)  {
	.kandidateRouteItem {
		font-size: 13px;	
		padding: 0;
		margin: 5px;
	}	
	.kandidateRoute {
		margin: 0 5px;
	}

}