<div>
  <header id="header" class="row">
    <div id="" class="col-sm-3">
      <img alt="westland werving" src="./assets/css/img/u22.png" />
    </div>

    <div id="" class="col-sm-9 text-right">
      <button class="logOutButton">Inloggen/aanmelden</button>
      <div class="row routerSection">
        <a class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home pagina</a>
        <a class="col-lg-2 col-md-2" routerLink="/kendidate/home" routerLinkActive="active">Kandidaten</a>
        <a class="col-lg-2 col-md-2" routerLink="/werkgevers/home" routerLinkActive="active">Werkgevers</a>
        <a class="col-lg-2 col-md-2" routerLink="/about" routerLinkActive="active">Over ons</a>        
      </div>

    </div>
  </header>
  <router-outlet></router-outlet>
  <div id="footer">
      <div id="lastFooterSection">
        <a href="https://nl-nl.facebook.com/WestlandWens" target="_blank"><img alt="fb" src="./assets/css/img/f.png" /></a>
        <a href="https://twitter.com/westlandwens" target="_blank"><img alt="twitter" src="./assets/css/img/t.png" /></a>
        <a href="https://nl.linkedin.com/company/westland-werving-en-selectie" target="_blank"><img alt="In" src="./assets/css/img/i.png" /></a>
        <a target="_blank"><img alt="Google" src="./assets/css/img/g.png" /></a>
        <a target="_blank"><img alt="YouTube" src="./assets/css/img/y.png" /></a>
      </div>
  </div>
