<div class="about">
	<div class="white-section">
		<h1>Kandidaten</h1>
		<p>
			Op zoek naar uw droombaan?
			ijk in ons <a class="button-in-about" routerLink="/kendidate/vacancy">vacatureoverzicht</a> en reageer direct of doe een <a class="button-in-about" (click)="openCustom()">open sollicitatie.</a>
		</p>

		<p>U bent hier aan het juiste adres voor het grootste vacatureaanbod van het Westland.</p>
		<p>Wij hebben vacatures in de tuinbouw, techniek, bouw, ICT, logistiek, P&O, transport en meer in o.a. Monster, Naaldwijk, Maasdijk, Honselersdijk, 's-Gravenzande, Heenweg, De Lier, Ter Heijde, Kwintsheul en Wateringen.</p>

		<h1>Werkgevers</h1>

		<p>Het werven en selecteren van nieuw personeel: "een vak apart"! Een optimale communicatie naar de arbeidsmarkt is hierbij zeer belangrijk. Het moet duidelijk zijn 'wie' u zoekt. Opleidingsniveau, werkervaring, ambitie, drive, werkmentaliteit, maar ook de persoonlijkheid van de kandidaat moet passen binnen de functie en uw organisatie.</p>

		<p>Het samenstellen van een zo goed mogelijk functie- en medewerkersprofiel is de basis voor een goede werving en selectie van kandidaten voor uw bedrijf. Om die reden gaan wij altijd een persoonlijk gesprek aan met onze opdrachtgever. Het liefst maken wij met u, maar ook met de 'cultuur' binnen uw organisatie kennis. Op basis hiervan maken wij een selectie uit honderden kandidaten en kunnen wij het gehele voortraject voor u uit handen nemen.</p>

		<p>De werving en selectie is pas gelukt, wanneer die ene kandidaat niet alleen uw vacature kan invullen, maar ook in uw organisatie past. Voor ons is het veel méér dan alleen een 'plaatsing'. Het gaat erom de juiste persoon bij de juiste organisatie te bemiddelen. Wij streven hierbij naar een lange termijn relatie om u ook in de toekomst zo goed mogelijk van dienst te kunnen zijn.</p>

		<p>Wilt u ook ervaren wat wij, van Westland werving & selectie, voor uw organisatie kunnen betekenen? Neem dan contact op voor een vrijblijvend gesprek over de mogelijkheden!</p>
		
	</div>
</div>